.container, .titles {
	max-width: 1000px;
	margin: 0 auto;
}

.col-3 {
	width: 100%;
	padding: 10px 20px;
}

.row {
  max-width: 1000px;
}

/* Clearfix */
.row::before,
.row::after {
  display: table;
  content: '';
}

.row::after {
  clear: both;
}

@media only screen and (min-width: 640px) {

	.col-3 {
		width: 33.333%;
		float: left;
		padding-left: 2.08333333%;
		padding-right: 2.08333333%;
	}

}
